.section--card,
.section--card2,
.section--card3,
.section--card4 {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: 0.625rem;
    background-color: #FFF;
    border-radius: var(--BorderRadius);
}

.section--card2,
.section--card3,
.section--card4 {
    display: none;
}

.section--card-img {
    width: 26.875rem;
    height: 18.65625rem;
    overflow: hidden;
    border-radius: var(--BorderRadius);
    object-fit: cover;
    margin: 0 auto;
    display: block;
}

.section__article--container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section__article--card-conteinertitulo {
    display: flex;
    padding: 0.5rem 0px;
    flex-direction: column;
    gap: 1rem;
}

.section__article--card-hastag {
    width: 13.8125rem;
    height: 1.1875rem;
    font-size: 1rem;
    font-weight: 600;
}

.section__article--card-titulo {
    font-size: 1.5rem;
    font-weight: 600;
}

.section__article--card-text {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--GrisColor);
}

.section__article--card-botons {
    display: flex;
    gap: 1rem;
}

.section__article--card-demo,
.section__article--card-code {
    display: flex;
    padding: 0.75rem 2.5rem;
    justify-content: center;
    align-items: center;
    border-radius: var(--BorderRadius);
    background-color: var(--CelesteColor);
    text-decoration: none;
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 500;
    width: 8.4375rem;
}

.section__article--card-code {
    background-color: #FFF;
    color: var(--CelesteColor);
    border: 1px solid var(--CelesteColor);
}

@media (min-width:75rem) {
    .card--container {
        display: flex;
        align-items: flex-start;
        gap: 1.2rem;
        flex-direction: column;
        height: 66.4375rem;
        width: 54.0625rem;
        overflow-y: scroll;
        grid-area: card;
    }
    
    .card--container::-webkit-scrollbar{
        width: 10px;
        background-color: var(--GrisClaro);
    }

    .card--container::-webkit-scrollbar-thumb{
        background: var(--CelesteColor)
    }

    .section--card,
    .section--card2,
    .section--card3,
    .section--card4 {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        padding: 1rem;
        width: 52.8125rem;
    }

    .section--card-img {
        overflow: revert;
    }

    .section__article--container{
        padding: 1rem 0rem;
        justify-content: space-between;
        align-items: flex-start;
    }
}