.card--container{
    width: 100%;
}

.section--card,
.section--card2,
.section--card3,
.section--card4 {
    display: flex;
    padding: 16px;
    flex-direction: column;
    gap: 10px;
    background-color: #FFF;
    border-radius: var(--BorderRadius);
}

.section--card2,
.section--card3,
.section--card4 {
    display: none;
}

.section--card-img {
    width: 100%;
    height: 298.5px;
    overflow: hidden;
    border-radius: var(--BorderRadius);
    object-fit: cover;
    margin: 0 auto;
    display: block;
}

.section__article--container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section__article--card-conteinertitulo {
    display: flex;
    padding: 8px 0px;
    flex-direction: column;
    gap: 16px;
}

.section__article--card-hastag {
    width: 221px;
    height: 19px;
    font-size: 16px;
    font-weight: 600;
}

.section__article--card-titulo {
    font-size: 24px;
    font-weight: 600;
}

.section__article--card-text {
    font-size: 18px;
    font-weight: 500;
    color: var(--GrisColor);
}

.section__article--card-botons {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.section__article--card-demo,
.section__article--card-code {
    display: flex;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    border-radius: var(--BorderRadius);
    background-color: var(--CelesteColor);
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    width: 135px;
}

.section__article--card-code {
    background-color: #FFF;
    color: var(--CelesteColor);
    border: 1px solid var(--CelesteColor);
}

@media (min-width:1200px) {
    .card--container {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        flex-direction: column;
        height: 1063px;
        width: 100%;
        overflow-y: scroll;
        grid-area: card;
    }

    .section--card-img{
        width: 50%;
        object-position: -51px;
    }
    
    .card--container::-webkit-scrollbar{
        width: 10px;
        background-color: var(--GrisClaro);
    }

    .card--container::-webkit-scrollbar-thumb{
        background: var(--CelesteColor)
    }

    .section--card,
    .section--card2,
    .section--card3,
    .section--card4 {
        display: flex;
        flex-direction: row;
        gap: 48px;
        padding: 20px;
        width: 99%;
    }

    .section__article--container{
        padding: 1rem 0rem;
        justify-content: space-between;
        align-items: flex-start;
        width: 50%;
    }
}