* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    display: inline-flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--BlancoOpaco);
    color: #000;
    font-family: var(--FrontFamily);
}

.main {
    display: inline-flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 28.875rem;
}

@media (min-width:31rem) {
    .body {
        display: flex;
        margin: 0 auto;
    }
}

@media (min-width:75rem) {
    .body {
        align-items: flex-start;
        display: grid;
        justify-content: flex-start;
        padding: 1rem 2rem;
        width: 94.5rem;
        gap: 1.5rem;
    }

    .main{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-areas:
            "header skills"
            "header proyecto"
            "header card"
            "experiencia card"
            "certificado certificado";
        grid-column-gap: 1.5rem;
        grid-row-gap: 1.5rem;
        grid-area: main;
    }

}