.header {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border-radius: var(--BorderRadius);
    width: 28.875rem;
}

.header__section--img {
    width: 21.875rem;
    height: 21.25rem;
    border-radius: var(--BorderRadius);
    overflow: hidden;
}

.header__section--img-perfil {
    bottom: 2.625rem;
    position: relative;
    right: 0.9375rem;
}

.header__section {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    flex: 1 0 0;
    align-self: stretch;
}

.header__section__div--info {
    display: flex;
    width: 16.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.header__section__article--Name {
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}

.header__section__article--Name-titulo {
    font-size: 1.5rem;
    font-weight: 600;
}

.header__section__article--Name-nombre {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--GrisColor);
}

.header__section__article--Contacto {
    font-size: 1.125rem;
    font-weight: 600;
}

.header__section__article--carta,
.header__section__article--tel{
    margin-left: 0.625rem;
    margin-right: 0.5rem;
    font-size: 1.125rem;
    font-weight: 900;
}

.header__section__article--Presentacion{
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--GrisColor);
}

@media (min-width: 75rem){
    .header{
        width: 34.9375rem ;
        height: 41.375rem;
    }
}