.header {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    border-radius: var(--BorderRadius);
    width: 28.875rem;
}

.header__section--img {
    width: 100%;
    height: 100%;
    max-width: 21.875rem;
    max-height: 21.25rem;
}

.header__section--img-perfil {
    object-position: 0px -42px;
    border-radius: var(--BorderRadius);
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 21.875rem;
    max-height: 21.25rem;
}

.header__section {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    flex: 1 0 0;
    align-self: stretch;
}

.header__section__div--info {
    display: flex;
    width: 16.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.header__section__article--Name {
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}

.header__section__article--Name-titulo {
    font-size: 1.5rem;
    font-weight: 600;
}

.header__section__article--Name-nombre {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--GrisColor);
}

.header__section__article--Contacto {
    font-size: 1.125rem;
    font-weight: 600;
    padding: 0.5rem;
}

.header__section__article--carta {
    margin-bottom: 0.5rem;
}

.header__section__article--carta,
.header__section__article--tel {
    margin-right: 0.5rem;
    font-size: 1.125rem;
}

.header__section__article--Presentacion {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--GrisColor);
}

@media (min-width: 80rem) {
    .header {
        width: 100%;
        height: 41.375rem;
        max-width: 26.9375rem;
        grid-area: 1/1;
    }

    .header__section__article--Name-titulo {
        width: 7.21381rem;
        height: 1.53363rem;
    }

    .header__section__article--Name-nombre {
        width: 13.29606rem;
        height: 1.16344rem;
    }

    .header__section__article--Presentacion {
        height: 6.36538rem;
        align-self: stretch;
    }
}