.section--proyect {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: 2rem;
    background-color: #fff;
    border-radius: var(--BorderRadius);
    justify-content: center;
    align-items: flex-start;
}

.section--proyect-titulo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--GrisOscuro);
}

.section__article-bootoms {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.section__article__button-resp,
.section__article__button-js,
.section__article__button-react {
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--GrisOscuro);
    width: 7.5rem;
    border-radius: var(--BorderRadius);
    border: 1px solid var(--GrisOscuro);
    background-color: #fff;
}

.section__article__button-resp {
    background-color: var(--CelesteColor);
    color: #fff;
    border: 0px;
}

@media (min-width:75rem) {
    .section--proyect {
        width: 54.0625rem;
        grid-area: proyecto;
    }

    .section__article-bootoms{
    justify-content: flex-start;
    }
}