:root{
    --FrontFamily: "Montserrat";
    --GrisColor: #828282;
    --GrisOscuro: #4F4F4F;
    --GrisClaro: #C4C4C4;
    --CelesteColor: #2F80ED;
    --BlancoOpaco:#F3EBEB;
    --BorderRadius: 12px;
}